<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" -->
<div class="container mt-5 text-center">
    <div class="row mt-5">
        <div class="col mt-5">
            <h1 class="mt-5">Introduction to Wappler Extensions</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Part 4</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Adding Inputs</h1>
        </div>
    </div>
    <img src="/assets/images/wappler---logo-logo-mark-full-color-rgb-2000px@300ppi.png" height="500">
</div>
<meta name="ac:route" content="/">